@font-face {
  font-family: 'Muli';
  font-style: bold;
  font-weight: 700;
  src: local('Muli'), local('Muli'), url(../Fonts/Muli-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), local('Muli'), url(../Fonts/Muli-Regular.ttf) format('truetype');
}

:root {
  --bg: #4D594D;
  --menuBg: #A67F68; 
  --ham: #FF8C00; 
  --pad: 5%;
  --nav: inherit;
  --hamBg: inherit;
  --font: white;
  --link: white;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: var(--bg);
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--link);
  padding: 10px;
  background: rgba(0,0,0,0.09);
}

a:hover {
  border-bottom: solid 2px;
  transition: all 0.1s linear;
  
}

.scroll{
  overflow: hidden;
}
.hideLink{
  visibility: hidden;
  transition: visibility 0s .4s;
}


/* hamburger menu */
nav {
  height: 84px;
  width:calc(100% - 2*var(--pad));
  padding-left:var(--pad);
  padding-right:var(--pad);
  background: var(--nav);
  display:flex;
}

.navigationParent{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 60px);  
}

.navigationChild{
  width: 33%;
  text-align: center;
  line-height: 84px;
  height: 84px;
  color: var(--font);
  font-size: 20px;
}

.navigationChild:nth-child(1){
  text-align: left;
}

.navigationChild:nth-child(2){
  margin-left: -60px;
}

.navigationChild:nth-child(3){
  text-align: right;
}

.hamburger {
  width: 60px;
  height: 84px;
}

.hamburgerBtn {
  margin-left: var(--pad);
  padding: 10px 10px 6px 10px;
  position:fixed;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  top: 20px;
  left: -10px;
  z-index:10000;
}

.hamburgerBtn, .menu {
  transition: transform .3s .1s ease-in-out, visibility 0s .4s;
}

.hamburgerBox {
  width: 35px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburgerInner {
  width: 100%;
  height: 3px;
  background-color: var(--ham);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color .1s .2s ease-in-out;
}

.hamburgerInner::before,
.hamburgerInner::after {
  width: 100%;
  height: 3px;
  background-color: var(--ham);
  position: absolute;
  content: '';
  left: 0;
  transition: transform .2s .2s ease-in-out;
} 

.hamburgerInner::before {
  top: -8px;
}

.hamburgerInner::after {
  top: 8px;
}

.hamburgerActive .hamburgerInner {
  background-color: transparent;
}

.hamburgerActive .hamburgerInner:before {
  transform: translateY(8px) rotate(225deg);
}

.hamburgerActive .hamburgerInner:after {
  transform: translateY(-8px) rotate(-225deg);
}

/* wysuniecie z lewej */
.menu {
  margin-top: -84px;
  height: 100vh;
  width: 100%;
  background-color: var(--menuBg);
  visibility: hidden;
  transform: translateX(-100%);
  position:fixed;
  z-index: 9999;
}

.menuActive {
  transform: translateX(0px);
  transition: transform .3s .1s ease-in-out, visibility 0s 0s;
  visibility: visible;
  overflow-y: auto;
}


/* wysuiecie z prawej */
/* .menu {
  margin-top: -84px;
  height: 100vh;
  width: 0px;
  position: absolute;
  right:0;
  background-color: var(--menuBg);
  visibility: hidden;
  overflow: hidden;
  transition: width .3s .1s ease-in-out, visibility 0s .4s;
  z-index: 9999;
}
.menuActive {
  width: 100%;
  transition: width .3s .1s ease-in-out, visibility 0s 0s;
  visibility: visible;
} */


.menuLinks {
  list-style: none;
  padding: 0;
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  max-height: calc(100% + 650px);
  min-height: calc(100% - 200px);
  padding-top: 100px;
  padding-bottom: 100px;
}

.menuItemLink {
  margin-bottom: 30px;
}

.menuItemLink:last-child{
  margin-bottom: 0;
}

.screenReadOnly {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 0px;
}

/* mobile */
@media (max-width: 800px) {
  .navigationChild:nth-child(2){
    display: none;
  }

  .navigationChild{
    width: 50%;
  }

}

/* main */
main {
  margin-top: 100px;
  padding-left:calc(0px + var(--pad));
  padding-right:var(--pad);
  color: var(--font);
}

